{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'core:indexOfHomePage' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span>All Products
                </div>
            </div>
        </div>
        <div class="container mb-30 mt-30">
            <div class="row">
                <div class="col-lg-12">
                    <a class="shop-filter-toogle" href="#">
                        <span class="fi-rs-filter mr-5"></span>
                        Filters
                        <i class="fi-rs-angle-small-down angle-down"></i>
                        <i class="fi-rs-angle-small-up angle-up"></i>
                    </a>
                    <div class="shop-product-fillter-header">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 mb-lg-0 mb-md-2 mb-sm-2">
                                <div class="card">
                                    <h5 class="mb-30">By Categories</h5>
                                    <div class="categories-dropdown-wrap font-heading">
                                        <ul>
                                            {% for c in categories%}
                                            <li>
                                                <input class="form-check-input filter-checkbox" data-filter="category" type="checkbox" name="checkbox" id="exampleCategory1" value="{{c.cid}}" />
                                                &nbsp; &nbsp;
                                                <a href="{% url 'core:category-product-list' c.cid%}"> <img src="{{c.image.url}}" alt="" />{{c.title}}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 mb-lg-0 mb-md-2 mb-sm-2">
                                <div class="card">
                                    <h5 class="mb-30">By Vendors</h5>
                                    <div class="d-flex">
                                        <div class="custom-checkbox mr-80">
                                            {% for v in vendors %}
                                            <input class="form-check-input filter-checkbox" data-filter="vendor" type="checkbox" name="checkbox" id="exampleCheckbox1" value="{{v.vid}}" />
                                            <label class="form-check-label" for="exampleCheckbox1"><span>{{v.title}}</span></label>
                                            <br />
                                            {% endfor %}
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-6 col-md-6 mb-lg-0 mb-md-5 mb-sm-5">
                                <div class="card">
                                    <h5 class="mb-10">By Price</h5>
                                    <div class="sidebar-widget  range">
                                        <div class="price-filter mb-20">
                                            <div class="price-filter-inner">
                                                <div id="slider-range"  class="mb-20" data-min={{min_max_price.min_price|floatformat:0}} data-max={{min_max_price.max_price|floatformat:0}}></div>
                                                <div class="d-flex justify-content-between">
                                                    <div class="caption">From: <strong id="slider-range-value1" class="text-brand"></strong></div>
                                                    <div class="caption">To: <strong id="slider-range-value2" class="text-brand"></strong></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custome-checkbox">
                                            <button class="btn mt-20 w-100 priceRangeFilter" name="filterByPrice" type="submit">Filter</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p>We found <strong class="text-brand numberOfProductsWhileFilter">{{products.count}}</strong> items for you!</p>
                        </div>
                        <div class="sort-by-product-area">


                        </div>
                    </div>
                    <div class="row product-grid" id="filtered-products">
                        {% for p in products %}
                        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="{% url 'core:product-detail' p.pid %}">
                                            <img class="default-img" src="{{p.image.url}}" alt="" />
                                            <img class="hover-img" src="{{p.image.url}}" alt="" />
                                        </a>
                                    </div>
                                    <div class="product-action-1">
                                        <button aria-label="Add To Wishlist" class="action-btn add-to-wishlist" data-product-item="{{p.id}}" style="border:None; background: None;"><i class="fi-rs-heart"></i></button>
<!--                                        <a aria-label="Add To Wishlist" class="action-btn" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>-->
                                        <a aria-label="Quick view" href="{% url 'core:product-detail' p.pid %}" class="action-btn" ><i class="fi-rs-eye"></i></a>
                                    </div>
                                    <div class="product-badges product-badges-position product-badges-mrg">
                                        <span class="hot">-{{p.get_percentage | floatformat:0}}%</span>
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="{% url 'core:category-product-list' p.category.cid %}">{{p.category.title}}</a>
                                    </div>
                                    <h2><a href="{% url 'core:product-detail' p.pid %}">{{p.title|truncatechars:20}}</a></h2>

                                    <div>
                                        <span class="font-small text-muted">By <a href="{% url 'core:vendor-detail' p.vendor.vid %}">{{p.vendor}}</a></span>
                                    </div>
                                    <div class="product-card-bottom">
                                        <div class="product-price">
                                            <span>₹</span><span class="current-product-price-{{p.pid}}">{{p.price}}</span>
                                            <span class="old-price">₹{{p.old_price}}</span>
                                        </div>
                                        <div class="add-cart">
                                            <input type="hidden" value="1" class="product-quantity-{{p.pid}}">
                                            <input type="hidden" class="product-image-{{p.pid}}" value="{{p.image.url}}">
                                            <input type="hidden" class="product-id-{{p.pid}}" value="{{p.pid}}">
                                            <input type="hidden" class="product-title-{{p.pid}}" value="{{p.title|truncatechars:20}}">
                                            <button class="add add-to-cart-btn" data-index="{{p.pid}}" ><i class="fi-rs-shopping-cart mr-5"></i>Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end product card-->
                        {% endfor %}
                    </div>
                    <!--product grid-->


                </div>
            </div>
        </div>
    </main>
{% endblock content %}